@page "/"
@page "/connectfour"
@using Connect456Common.Code
@using Connect456Common.Pages

<h1>Connect Four</h1>

<GameBoardBase Cols="7" Rows="6" InARow="4" />

@code {
    /// <summary>
    /// The ConnectFour component represents the main page for the Connect Four game.
    /// It initializes the game board with specified columns, rows, and the number of pieces in a row needed to win.
    /// </summary>
}