@page "/connectfive"
@using Connect456Common.Code
@using Connect456Common.Pages

<h1>Connect Five</h1>

<GameBoardBase Cols="8" Rows="7" InARow="5" />

@code {
    /// <summary>
    /// This is the code-behind section for the ConnectFive component.
    /// It initializes the game board with specified columns, rows, and the number of pieces in a row needed to win.
    /// </summary>
}